<app-sidebar></app-sidebar>

<main class="main-content">
    <app-header></app-header>
    <br><br>
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-10 col-lg-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);" (click)="Role()">User</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">View User Details</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-10 col-lg-10">
                <br>

                <details>
                    <summary>
                        User Details
                    </summary>
                    <p><b>User Name</b> : {{name}}</p>
                    <p><b>User Email</b> : {{email}}</p>
                    <p><b>User Password</b> : {{password}}</p>
                    <p><b>Created By</b> : {{createdBy}}</p>
                    <p><b>Created Date</b>: {{createdDate || Date}}</p>
                    <p><b>Modified By</b>: {{modifiedBy}}</p>
                    <p><b>Modified Date</b>: {{modifiedDate || Date}}</p>
                    <p><b>Role</b>: {{role}}</p>
                </details>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
    <app-footer></app-footer>
    <!-- Footer Section End -->
</main>