<div *ngIf="spinner">
    <div id="loading">
        <div class="loader simple-loader">
          <div class="loader-body"></div>
        </div>
      </div>
</div>
<div *ngIf="!spinner">
<app-header></app-header>
<div class="row" style="margin-top: 1%;">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-2 col-lg-8">
        Student Registration Number : <h1>{{name}}</h1>
    </div>
    <div class="col-2"></div>
</div>

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-md-10 col-lg-12">
            <br>
            <div class="table-responsive" style="border: 1px solid;
            overflow: hidden;
            margin-top: 2%;">
                <div class="row shadow">
                    <div class="col-12">
                        <hr>
                        <hr>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-5 ">
                                <h2>Courses</h2>
                            </div>
                            <div class="col-6 ">
                                <h2>Grades</h2>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <ng-container *ngFor="let item of detailsCourses">
                            <div class="row shadow">
                                <div class="col-1"></div>
                                <div class="col-5 "> <a data-bs-target="#AddNewProgram" data-bs-toggle="offcanvas"
                                        href="javascript:void(0)" (click)="  SelectedCourse_GetCLOS(item.name)">
                                        <b> <u>
                                                <p>{{item.name}}</p>
                                            </u></b>
                                    </a>
                                </div>
                                <div class="col-6 ">
                                    <h3><b>{{item.gra}}</b></h3>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let item of detailsCourses">
                            <div class="row shadow">
                                <div class="col-1"></div>
                                <div class="col-5 "> <a data-bs-target="#AddNewProgram" data-bs-toggle="offcanvas"
                                        href="javascript:void(0)" (click)="  SelectedCourse_GetCLOS(item.name)">
                                        <b> <u>
                                                <p>{{item.name}}</p>
                                            </u></b>
                                    </a>
                                </div>
                                <div class="col-6 ">
                                    <h3><b>{{item.gra}}</b></h3>
                                </div>
                            </div>
                        </ng-container>
                        <hr>
                        <hr>
                        <div class="row shadow">
                            <div class="col-1"></div>
                            <div class="col-1 ">
                                <h3>PLOs</h3>
                            </div>
                            <div class="col-2 ">
                                <h3>PLOs Title</h3>
                            </div>
                            <div class="col-6 ">
                                <h3>PLOs Description</h3>
                            </div>
                            <div class="col-2 ">
                                <h3>Status</h3>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <ng-container *ngFor="let item of detailsplos ;let id=index">
                            <div class="row shadow">
                                <div class="col-1"></div>
                                <div class="col-1 ">
                                    <a data-bs-target="#plodetails" data-bs-toggle="offcanvas" href="javascript:void(0)"
                                        (click)="SelectedPLO_GetCLOS(item.a,id+1)">
                                        <h5 style="color: #0366d6;"> <b> <u> PLO{{id+1}}</u></b></h5>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <p>{{item.a}}</p>
                                </div>
                                <div class="col-6">
                                    <p>{{item.s}}</p>
                                </div>

                                <div class="col-2">
                                    <ng-container *ngIf="item.gra==='Fail'">
                                        <p style="font-size: 22px;
                                        background-color: #f2d6d3;
                                        border-color: #7a2b22;">
                                            <b>{{item.gra}}</b>
                                        </p>
                                    </ng-container>
                                    <ng-container *ngIf="item.gra==='Pass'">
                                        <p style="font-size: 22px;
                                        background-color: #d1ecdd;
                                        border-color: #1aa053;">
                                            <b> {{item.gra}}</b>
                                        </p>
                                    </ng-container>
                                    <ng-container *ngIf="item.gra==='Processing'">
                                        <p style="font-size: 22px;">
                                            <b> {{item.gra}}</b>
                                        </p>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" style="width:80%;" tabindex="-1" id="AddNewProgram" data-bs-scroll="true"
    data-bs-backdrop="true" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <div class="d-flex align-items-center">
            <h3 class="offcanvas-title me-3" id="offcanvasExampleLabel">Course Name : {{coursename}}</h3>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body data-scrollbar">
        <div class="row">
            <div class="col-lg-12">
                <table id="datatable" class="table table-striped" data-toggle="data-table">
                    <thead>
                        <tr>

                            <th>Teacher</th>
                            <th>Semester</th>
                            <th>Section</th>
                            <th>Quiz</th>
                            <th>Assignment</th>
                            <th>Mid</th>
                            <th>Final</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr *ngFor="let item of mapclodetails;let idx=index">
                            <td><u>{{item.a}}</u></td>
                            <td><u>{{item.t}}</u></td>
                            <td><u>{{item.s}}</u></td>
                            <td><u>{{item.d}}%</u></td>
                            <td><u>{{item.x}}%</u></td>
                            <td><u>{{item.y}}%</u></td>
                            <td><u>{{item.z}}%</u></td>
                            <td><u>{{item.r}}</u></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" style="width:80%;" tabindex="-1" id="plodetails" data-bs-scroll="true"
    data-bs-backdrop="true" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <div class="d-flex align-items-center">
            <h3 class="offcanvas-title me-3" id="offcanvasExampleLabel">PLO{{ploid}} : {{ploname}}</h3>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body data-scrollbar">
        <hr><hr><div class="row">
            <div class="col-6">
               <h2> Course Name</h2>
            </div>
            <div class="col-6">
                <h2>PLO Evaluation</h2>
             </div>
 
        </div><hr><hr>
        <div class="row" *ngFor="let item of mapclodetails">
            <div class="col-6">
                {{item.name}}
            </div>
            <div class="col-6">
                {{item.t}}%</div>
        </div>
    </div>
</div>
</div>