<div *ngIf="spinner">
    <div id="loading">
        <div class="loader simple-loader">
          <div class="loader-body"></div>
        </div>
      </div>
</div>
<app-tsidebar></app-tsidebar>
<main class="main-content">
    <app-header></app-header><br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br><br>
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-10 col-lg-10">
                <br>
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped" data-toggle="data-table">
                        <thead>
                            <tr>
                                <th>Course Title</th>
                                <th>FCAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of details">
                                <td>{{item.course_Title}}</td>
                                <td><button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                                    aria-controls="offcanvasTop" (click)="GetExamsDetails(item.course_Title,item.course_Code,'final')">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
    <app-footer></app-footer>
    <!-- Footer Section End -->
</main>
<div class="offcanvas offcanvas-top show" tabindex="-1" style="height: 100%;"
 id="offcanvasTop" aria-labelledby="offcanvasTopLabel" aria-modal="true" role="dialog">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">FCAR</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table id="datatable" class="table table-striped" data-toggle="data-table">
            <thead>
                <tr>
                    <th>CLO Name</th>
                    <th>Course Name</th>
                    <th>Exam Type</th>
                    <th>Grade A</th>                    
                    <th>Grade B</th>
                    <th>Grade C</th>
                    <th>Grade D</th>
                    <th>Average</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of clodetails;let count=index">
                    <td>{{cloname}}</td>
                    <td>{{coursename}}</td>
                    <td>
                        {{item.clodes}} {{count+1}}
                    </td>
                    <td style="font-size: 22px;
                    background-color: #d1ecdd;
                    border-color: #1aa053;">
                        {{item.cloname}}
                    </td>
                    <td style="font-size: 22px;
                    background-color: #cdebec;
                    border-color: #079aa2;">
                        {{item.quiz}}
                    </td>
                    <td style="font-size: 22px;
                    background-color: #fce1d1;
                    border-color: #f16a1b;">
                        {{item.lab}}
                    </td>
                    <td style="font-size: 22px;
                    background-color: #f2d6d3;
                    border-color: #c03221;">
                        {{item.final}}
                    </td>
                    <td>
                        {{(item.cloname*4+item.quiz*3+item.lab*2+item.final)/15 | number : '1.2-2'}}
                    </td>
                    <tr>
                        <td colspan="6"></td>
                        <td colspan="2"><h3>Total Average :  3.87</h3></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>